/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.dodajMarginuSaSvihStrana
{
    margin : 10px;
}

.dodajMarginuGore
{
    margin-top: 15px;
}

.dodajMarginuGoreIDole
{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*za svaki tag se veze koji je tipa "body" */
body
{
    /*moze umjesto ova dva taga i jedan tag: "backgorund: url("...") no-repeat*/
    /*ovo "50%" se odnosi na property, "background-position"*/
    background: url("../images/logo.png") no-repeat 50%;
    background-color: rgb(179, 220, 255);
}

.prozirnaPozadina
{
    /*zadnji parametar govori koliko je nesto prozirno*/
    background-color: rgba(18, 20, 31, 0.3);
}

.naslov
{
    font-family: Constantia;
    font-size: 20px;
}

/*znaci da ce vrijediti za svaki parni i neparni red tabela*/
tr:nth-child(even) 
{
    background: #CCC
}
tr:nth-child(odd) 
{
    background: #FFF
}

.nazivUTabeli
{
    text-align: left;
}

.brojUTabeli
{
    text-align:center
}

table {
    border-collapse: collapse;
}

th,
td {
    padding-right: 10px;
    padding-left: 10px;
}

/*ako je na pocetku tacka, zanci da je to kalsa, a ako je samo naziv, to znaci da se odnosi na svaki tag tog tipa,
    kao npr. sto se "tr" na svaki red tabele*/

/*--------SLJEDECI KOD JE PREKOPIRAN D ABI IMALI SLIKE SLIKA*/
.slider-holder {
    width: 550px;
    height: 350px;
    background-color: yellow;
    text-align: center;
    /*ovaj properti se koristi da sve slike ne bi bile vidljive odjednom, vec kad se klikne na ikonicu za prelazak*/
    overflow:hidden;
}

.image-holder 
{
    width: 1650px;
    background-color: orange;
    height: 350px;
    clear: both;
    position:relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;

    object-fit: contain;
    width: 550px;
    height: 350px;
}

#slider-image-1:target ~ .image-holder {
    left: 0px;
}

#slider-image-2:target ~ .image-holder {
    left: -550px;
}

#slider-image-3:target ~ .image-holder {
    left: -1100px;
}

.button-holder {
    position: relative;
    top: -20px;
}

.slider-change {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: brown;
}
/*--------*/

/*------kopirano radi slike koja se aplouduje na strnicu*/
.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

#img-upload {
    width: 100%;
}
/*---------------*/

.pozadinaClanGrupe {
    background-color: rgba(128, 128, 128, 0.3);
}

.naslovVelicina
{
    font-weight: bold;
    font-size: 50px;
    font-family: Romantic;
}

.pozadinaSkoroProzirna
{
    background-color: rgba(200, 210, 238, 0.3);
}
