<p class="alert-success">
    Ukoliko ste došli do ovog dijela web stranice zasigurno tražite naše brojeve indeksa da bi nam upisali 10, a mi ćemo vam pomoći u tome.
</p>
<p class="btn-link">

</p>

<div class="team-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">OMG sestre</h2>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle" src="~/img/farisp.jpg" width="150" height="150">
                <h3 class="name">Nadija Borovina</h3>
                <p class="title">Sestra 1</p>
                <p class="description">Index: 18067, željna novih znanja i desetki u indeksu kao što je ona iz OOADA.</p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle" src="~/img/amna.jpg" width="150" height="150">
                <h3 class="name">Jasmin Bajrić</h3>
                <p class="title">Sestra 2</p>
                <p class="description">Index: 1795, poznat kao osoba kojoj je OOAD najdraži predmet do sada, pa je jako sretan što je upisao 10. </p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle" src="~/img/farisš.jpg" width="150" height="150">
                <h3 class="name">Nedžad Hadžiosmanović</h3>
                <p class="title">Sestra 3</p>
                <p class="description">Inbox 18033, student koji je već proslavio desetku iz OOADA, </p>
                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
            <div class="col"></div>
            <div class="col"><a class="text-primary" href="#" style="position: relative;left: 300px;top: 50px;">Report a problem here</a></div>
        </div>
    </div>
</div>
<script src="~/js/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>