<div class="team-clean dodajMarginuSaSvihStrana">

    <div class="row well-sm">
        <div class="pozadinaSkoroProzirna col-xs-12">
            <p class="panel-title dodajMarginuGoreIDole">
                Ukoliko ste došli do ovog dijela web stranice zasigurno tražite naše brojeve indeksa da bi nam upisali 10, a mi ćemo vam pomoći u tome.
            </p>
            <p class="btn-link dodajMarginuGoreIDole dodajMarginuGoreIDole">
                <a href="https://www.youtube.com/watch?v=SO08DnW2GeM"> Poslušajte šta mi mislio o našem projektu klikom na ovaj link.</a>
            </p>
        </div>
    </div>
    

    <div class="container">
        <div class="intro">
            <h2 class="text-center naslovVelicina">OMG sestre</h2>
        </div>
        <div class="row people pozadinaClanGrupe dodajMarginuGoreIDole">
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle dodajMarginuGore" src="~/images/nadijaBorovina.png" width="150" height="150">
                <h3 class="name">Nadija Borovina</h3>
                <p class="title">Sestra 1</p>
                <p class="description">Index: 18067, željna novih znanja i desetki u indeksu kao što je ona iz OOADA.</p>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle dodajMarginuGore" src="~/images/jasminBajric.jpg" width="150" height="150">
                <h3 class="name">Jasmin Bajrić</h3>
                <p class="title">Sestra 2</p>
                <p class="description">Index: 17950, poznat kao osoba kojoj je OOAD najdraži predmet do sada, pa je jako sretan što je upisao 10. </p>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle dodajMarginuGore" src="~/images/nedzadHadziosmanovic.jpg" width="150" height="150">
                <h3 class="name">Nedžad Hadžiosmanović</h3>
                <p class="title">Sestra 3</p>
                <p class="description">Index: 18033, student koji je već proslavio desetku iz OOADA, i bio bi bas razočaran kada ne bi bilo te desetke. </p>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>